sudo: required
services: 
    - docker

before_install:
    - docker build -t rajesh05in/docker-react -f Dockerfile.dev .

script:
    - docker run -e CI=true rajesh05in/docker-react npm run test

language: generic 